.tempLogin {
	background-color: black;
	height:100vh;
	width: 100vw;
	padding-top: 50px;
}
fieldset {
	width: 50%;
	margin: 0 auto;
}

.tempLoginForm {
	display: block;
	border: 5px solid #FF00FF;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
.tempLoginForm input{
	font-size: 12px;
}


@media screen and (min-width: 600px) {
	.tempLoginForm input{
		font-size: 36px;
	}
}