.welcomeDivTemp {
	text-align: center;
	position:relative;
	top:200px;
}

.welcomeDiv {
	text-align: center;
	position:relative;
	top:200px;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateX(0);
  }
}