.welcomeDivTemp {
	position: absolute;
	margin-top: 150px;
	display: inline-block;
}

.welcomeDiv {
	position: absolute;
	margin-top: 150px;
	display: inline-block;
	 animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}