.aboutPage {
	background-color: #333;
	position:relative;
	height:100vh;
	padding-top: 75px;
	text-align: center;
}
.aboutPage h2 {
	font-size: 20px;
}
.starsCont {
	position:relative;
	display: inline-block;
	opacity: 0.15;
	z-index: 0;
}
.starCont {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.aboutPageText {
	padding:5px;
	margin:0px auto;
	background-color: rgba(255,255,255,0.75);
	border:5px solid black;
	border-radius: 20px;
	position: relative;
	display: inline-block;
	text-align: left;
	font-weight: bold;
	z-index: 1;
}
.aboutPageText p {
	margin: 10px 0;
	font-size: 10px;
}
.star1 {
	width: 100%;
	display:block;
	margin:0 auto;

}

.star2 {
	width: 90%;
	display:block;
	margin:5% auto;
}

.star3 {
	width: 80%;
	display:block;
	margin:10% auto;
}
.star4 {
	width: 70%;
	display:block;
	margin:15% auto;
}
.clockwise {
	animation: rotating 20s linear infinite;
}
.clockwise2 {
	animation: rotating 50s linear infinite;
}
.counterClockwise {
	animation: rotatingReverse 30s linear infinite;
}
.counterClockwise2 {
	animation: rotatingReverse 40s linear infinite;
}
@media (min-width: 1024px) {
	
}
@media (max-width: 600px) {
	.starsCont {
		width:100%;
		top:-100px;
	}
}
@media (min-width: 600px) {
	.starsCont {
		top:-150px;
		width:600px;
		height:600px;
	}
	.aboutPageText {
		top:-550px;
	}
}