.graphic-novel-shell {
    text-align: center;
}
.pagination-shell-outer{
    text-align: center;
}
.pagination-shell-inner {
    display: inline-block;
}
.layout-shell-outer {
    display:inline-block;
}
.layout-shell {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1268px) {
    .layout-shell  {
        flex-direction: row;
    }
}