div.homePage {
	/*min-height: calc(100vh - 100px);*/
/*	background-color: #FF00FF;*/
}
div.homePage h1 {
	margin:0;
}
div.buttonDivCont {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.textCont {
	width: 70%;
	margin:150px auto;
	color: #FF8D27;
	position: relative;
}
.textCont svg {
	position: absolute;
	right:0;
}
#fpsChecker {
	width: 300px;
	margin:100px auto;
	text-align: center;
	border:10px solid white;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	font-size: 20px;
	background-color: black;
	color:white;
	padding:20px;
}
.homeMenuButtonDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(2, 57%, 40%);
background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);

	height: 100vh;
}
.homeMenuButton {
		padding: 20px;
		font-size: 25px;
		cursor: pointer;
		margin: 20px;
		border-radius: 20px;
	}
@media (min-width: 1024px) {

	.textCont {
		width: 700px;
	}
	.homeMenuButtonDiv {
		display: flex;
		
	}
	.homeMenuButton {
		padding: 20px;
		font-size: 25px;
	}



}