.home-page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page-buttons .gameShell {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 3px solid black;
  cursor: pointer;
  transition: box-shadow 0.5s;
}
.home-page-buttons .gameShell:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.gameShell.fly {
  background: yellow;
}
.gameShell.jump {
  background: darkblue;
}
.gameShell.swim {
  background: red;
}

@media (min-width: 768px) {
  .home-page-buttons {
    flex-direction: row;
  }
}