footer {
	text-align: center;
	display: block;
	width:100%;
	position: relative;
	background: grey;
	height:50px;

}
footer a {
	display: inline-block;
	margin:12px 10px;

}
.twitter {
	width:50px;
	position: absolute;
	right:0;
	top:-5px;
}