nav#primary-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	background: white;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
nav#primary-nav a {
	display: inline-block;
	margin: 0 20px;
}

@media screen and (min-width: 768px) {

}