nav#primary-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	background: white;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
	width: 100vw;
	display: flex;
	align-items: center;
	
}
nav#primary-nav .logo {
	position: absolute;
	left: 20px;
}
nav#primary-nav .nav-links {
	position: absolute;
	right: 0;
}
nav#primary-nav a {
	display: inline-block;
	margin: 0 20px;
	color: #333;
	font-weight: bold;
}

@media screen and (min-width: 768px) {

}