.welcomeDivOuter {
	text-align: center;
}
.welcomeDiv {
	border:5px solid black;
	background: rgba(255,255,255,0.5);
	margin: -100px auto;
	text-align: left;
	font-size: 15px;
	padding: 5px 15px;
	border-radius: 20px;
	display: inline-block;
}
.mobileOnlyWelcome {
	padding-top: 200px;
}
.welcomeDiv p {
	margin: 15px 0;
	font-size: 12px;
}