* {
	outline: none;
}
body {
	overflow: hidden;
}
main {
	padding-top: 50px;
}
.hide {
	opacity: 0;
	display: none !important;
}
.show {
	opacity: 1;
	display: inline-block !important;
}
.button {
	padding:10px 20px;
	border-radius: 3px;
	cursor: pointer;
}