
.layout-2  .block-division {
    display: flex;
    flex-direction: column;
}
.layout-2  .block-division div div:not(.square) {
    display: inline-block;
}
.layout-2  .block-division div div div {
    float: left;
}
.layout-2  .block-division div div div:nth-child(odd) {
    clear: left;
}

@media (min-width: 1263px) {

}